<article class="project">
  <h2>{{ project.projectName }}</h2>

  <p> Location: {{ project.eventLocation }}</p>
  <p> Date: {{ project.eventDate }}</p>
  <p> Description: {{ project.description }}</p>
  <p> Website Link: {{ project.link }}</p>
  
  

 
  
  <a href="/projects">Back to Projects Page</a>
</article>